div.color {
        display: inline-block;
        /*height: 200px;*/
        /*width: 300px;*/
        border: 2px solid #3A2F40;
        border-radius: 6px;
        margin-right: 5px;
        margin-bottom: 5px;
}

svg:hover{
	position: relative;
	left:-2px;
	top:-2px;
}

body{
	width: 500px;
	height: 300px;
	margin: 1em auto 4em auto;
	/*background-color: #abcdef*/
}

svg {
	/*float: left;*/
	border: solid 1px #aaa;
}