div.color {
    display: inline-block;
    /*height: 200px;*/
    /*width: 300px;*/
    /*border: 2px solid #3A2F40;*/
    border-radius: 6px;
    margin-right: 2px;
    margin-bottom: 2px;
}

body{
    width:960px;
    margin:1em auto 4em auto;
}